body {
  background-color: lightblue;
  position: relative;
  background-size : cover;
}

h1 {
  height: 100px;
  line-height:100px;
  text-align:center;
  font-size: 40px;
  color: beige;

  
}

#parent {
  display: flex;
  color: beige;
}

.input {
  /* flex-grow: 1; */
  margin: 0 auto;
  width: 600px;
  height: 800px;
  display: inline-block;
  border-radius: 80px;
  background: rgba(84, 83, 83, 0.4);
  color: beige;
  
  /* width:200px;
  height:100px; */
 }
  /* padding-top: 20px; */   


.summery {
  /* flex-grow: 1; */
  margin: 0 auto;
  width: 600px;
  height: 800px;
  display: inline-block;
  border-radius: 40px;
  background: rgba(72, 72, 72, 0.4);
  color: beige;
  /* padding-top: 20px; */   
}

#inputbox {
  width: fit-content;
  margin: auto;  
  border-radius: 40px;
}

#inputbox2 {
  width: fit-content;
  margin: auto; 
  border-radius: 40px;
}

h2 {
  height: 100px;
  text-align:center;
  font-size: 30px;

}


h3 {
  height: 100px;
  text-align:center;
  font-size: 30px;
}

#list {
  width: 500px;
  margin: auto;
}

#register {
  display: block;
  margin: 0 auto;
  background-color: #034962;
  border-radius: 30px;
  width: 70px;;
  height: 40px;
  font-size: 100%;
  border: none;
  color: beige;
}

li button {
  border-radius: 30px;
  background-color: #6a0212;
  float: right;
  width: 70px;;
  height: 30px;
  font-size: 80%;
  border: none;
  color: beige;
}  

li {
  font-weight:bold;
  font-size: 20px;
}

#inputTask {  
  border: none;
  border-radius: 30px;
  font-size: 20px;
  
  outline: none; 
  width: 400px; 
}

#inputContent {  
  border: none;
  border-radius: 10px;
  font-size: 20px;

  outline: none; 
  width: 400px; 
  }
